.products-container{
    padding: 3rem;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.input-field{
    padding-top: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.input-search{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
}
.sort-cont{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 30%;
}

.example-full-width {
    width: 100%;
    /* border: 1px solid red; */

  }
  .input-field button{
    border: none;
    border-bottom: 1px solid rgb(0, 0, 0);
    margin-bottom: 1.3rem;
    padding: .82rem;
    cursor: pointer;
  }

.card{
    width: 20rem;
    height: 32rem;
    padding: 1rem;
    padding-bottom: 1.5rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.image{
    height: 12rem;
    width: 12rem;
    align-self: center;
}
.card h3{
    max-height: 7ch;
    overflow: hidden;
    font-weight: bold;
    font-size: 1rem;
    align-self: flex-start;
}
.products-container div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}
.price-para{
    margin-top: 7px;
}
.description{
    
    max-height: 4rem;
  overflow: hidden;
  text-overflow: ellipsis;
  /* display: -webkit-box; */
  line-clamp: 3; /* Number of lines to show */
}
.card p{
    align-self: flex-start;
    display: flex;
    justify-content: center;
    align-items: center;
}
.star-icon{
    font-size: 1rem;
    color: rgb(255, 230, 0);
    margin: 8px 0 0 3px;
}
